customerVersionControlUrl = "http://support.kaitech.de/index.php"
kvkUser = "kt-kvk-api"
kvkPassword = "PM9pYeEL3pPnU9RMk5J7Ftkx"
gitHubOwner = "Kaitech-IT-Systems"
gitHubRepository = "php-ScanHUB"
gitHubToken = "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"
projectConfig = "C:\inetpub\wwwroot\ScanHUB\sicher\ini\config.ini"
installDirectory = "C:\inetpub\wwwroot\ScanHUB"
tempDirectory = "C:\TEMP\KT_Updater\ScanHUB\temp"
backupDirectory = "C:\TEMP\KT_Updater\ScanHUB\backup"
customerNo = ""
excludeDir = "logs,data,archive,export"
proxyServer = ""
proxyPort = ""
proxyUser = ""
proxyPassword = ""